<div class="container my-4">
    <h4 class="mb-4 text-center">Shopping Cart</h4>

    @if (loading) {
    <page-loader></page-loader>
    }
    @if(!loading && cartDetails.length > 0){
    <div class="row">
        <!-- Cart Items -->
        <div class="col-lg-8">
            @for (item of cartDetails; track $index) {
            <div class="card mb-3">
                <div class="row g-0">
                    <!-- d-none d-sm-block -->
                    <div class="col-md-2">
                        <img src={{item.imageUrl}} class="img-fluid rounded-start" style="height: -webkit-fill-available;" alt="Product">
                    </div>
                 
                    <div class="col-md-10">
                        <div class="card-body">
                            <h6 class="card-title text-truncate ">{{item.name}}</h6>
                            <p class="card-text text-truncate my-2" style="font-size: 14px;">{{item.description}}</p>
                           
                             <div class="row mx-0 my-0 ">
                                <div class="col-lg-4 _row">
                                    <p class="card-text"><span style="color: #494949 !important; font-weight: 500;">Size:</span> {{item.size}}</p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="card-text float-end mb-2"><small class="text-muted"
                                        style="color: #494949 !important; font-weight: 500;">Rs.{{calculateAmount(item.price,
                                        item.discount, item.quantity)}} /-</small></p>
                                </div>
                            </div>
                            <div class="row mx-0 my-0 ">
                                <div class="col-lg-4 _row">
                                    <div class="input-group mb-3" style="max-width: 120px;">
                                        <button class="btn btn-outline-secondary btn-sm" type="button" (click)="DecreaseQuantity(item)">-</button>
                                        <input type="text" class="form-control text-center shadow-none"
                                            [(ngModel)]="item.quantity">
                                        <button class="btn btn-outline-secondary btn-sm" type="button" (click)="IncreaseQuantity(item)">+</button>
                                    </div>
                                </div>
                                <div class="col-lg-8 ">
                                    <button class="btn btn-light btn-sm float-end" (click)="removeItem(item.cartId)"> <i class="fa-regular fa-trash-can"></i> Remove</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- Repeat this card for more items -->
            }
        </div>


        <!-- Order Summary -->
        <div class="col-lg-4">
            <div class="card cart-summary">
                <div class="card-header">
                    <h5>Order Summary</h5>
                </div>
                <div class="card-body">
                    <p class="d-flex justify-content-between">
                        <span>Subtotal:</span>
                        <span>{{totalCartPrice | currency:'INR':'symbol-narrow':'3.0-2'}} /-</span>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span>Tax (10%):</span>
                        <span>{{totalCartPercent | currency:'INR':'symbol-narrow':'3.0-2'}} /-</span>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span>Shipping:</span>
                        <span>{{shippingprice | currency:'INR':'symbol-narrow':'3.0-2'}} /-</span>
                    </p>
                    <hr>
                    <h5 class="d-flex justify-content-between">
                        <span>Total ({{cartDetails.length}} item):</span>
                        <span>{{totalFinalPrice | currency:'INR':'symbol-narrow':'3.0-2'}} /-</span>
                    </h5>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-success btn-sm w-100" (click)="checkOut()">Proceed to Checkout</button>
                    <button class="btn  btn-outline-dark btn-sm w-100 mt-2" routerLink="/viewproducts">Continue Shopping</button>
                    <button class="btn  btn-outline-dark btn-sm w-100 mt-2" routerLink="/ordertracking">Order Tracking</button>
                </div>
            </div>
        </div>

    </div>
    } @else {
        <div class="row">
            <div class="col-12 mb-5 text-center">
                <img class="" style="width: 20%;" src="https://i.pinimg.com/originals/5a/d0/47/5ad047a18772cf0488a908d98942f9bf.gif">
                <h3 style="color: rgb(127, 125, 125)">Your cart is empty!</h3>
            </div>
        </div>
    }
</div>

<off-canvas-side-bar></off-canvas-side-bar>