.title-class{
    font-family: fantasy;
    color: #f22d2d;
    font-size: 25px;
}

.hover-effect {
    position: relative;
}
.hover-effect::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: rgb(255, 255, 255);
    transition: width .2s;
}

.hover-effect:hover::after {
    width: 100%;
    background-color: rgb(199, 199, 199);
}

.hover-effect-mega-menu {
    position: relative;
}

.hover-effect-mega-menu::after {
    top:28px;
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: rgb(255, 255, 255);
    transition: width .2s;
}
.hover-effect-mega-menu:hover::after {
    width: 100%;
    background-color: rgb(199, 199, 199);
}

.dropdown-mega .dropdown-menu{
    width: 100%;
}

.dropdown-menu h6{
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(0,0,0,0.1);
    margin:0;
}

.list-group-item{
    font-size: 16px;
    color: var(--text-third-color);
    border: 0;
    /* border-bottom: 1px solid rgb(0,0,0,0.1); */
    padding: 6px 0;
}

.__extra_mega_dp_styles{
    margin: 0;
    border: 0px;
    border-radius: 0px;
}

 ._profile_dd{
    top: 2rem;
    /* left: -3.2rem; */
}

._profile_dd .dropdown-item{
    font-size: 14px;
}

.__button_icons{
    cursor: pointer !important;
    background-color: #f8f9fa;
    border: 0px;
    z-index: 1;
}

