<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand title-class" routerLink="/">Taylor Trends</a>
      <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active hover-effect " aria-current="page" routerLink="/viewproducts">New Arrivals</a>
          </li>

          <li class="nav-item dropdown dropdown-mega position-static ">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" 
            data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <span class="hover-effect-mega-menu">Shop All</span>
            </a>

            <div class="dropdown-menu shadow __extra_mega_dp_styles">
              <div class="mega-content px-md-4">
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6 py-4 px-xl-5 px-4">
                      <h6>Shirts</h6>
                      <div class="list-group">
                        <a class="list-group-item" routerLink="/viewproducts">Flannel & Checks Shirts</a>
                        <a class="list-group-item" routerLink="/viewproducts">Linen Shirts</a>
                        <a class="list-group-item" routerLink="/viewproducts">Solid & Jeans Shirts</a>
                        <a class="list-group-item" routerLink="/viewproducts">Striped Shirts</a>
                        <a class="list-group-item" routerLink="/viewproducts">Formal & Casual Shirts</a>
                        <a class="list-group-item" routerLink="/viewproducts">Printed Shirts</a>
                        <a class="list-group-item" routerLink="/viewproducts">Cotton Shirts</a>
                        <a class="list-group-item" routerLink="/viewproducts">Plain Silk Shirts</a>
                      </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 py-4 px-xl-5 px-4">
                      <h6>Pants</h6>
                      <div class="list-group">
                        <a class="list-group-item" routerLink="/viewproducts">Cargo</a>
                        <a class="list-group-item" routerLink="/viewproducts">Jeans</a>
                        <a class="list-group-item" routerLink="/viewproducts">Trousers</a>
                        <a class="list-group-item" routerLink="/viewproducts">Shorts</a>
                        <a class="list-group-item" routerLink="/viewproducts">Track Pants</a>
                        <a class="list-group-item" routerLink="/viewproducts">Torn Jeans</a>
                      </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 py-4 px-xl-5 px-4">
                      <h6>Blazers</h6>
                      <div class="list-group">
                        <a class="list-group-item" routerLink="/viewproducts">Corduroy</a>
                        <a class="list-group-item" routerLink="/viewproducts">Trunks</a>
                        <a class="list-group-item" routerLink="/viewproducts">Boxers</a>
                        <a class="list-group-item" routerLink="/viewproducts">Floral/Motive</a>
                        <a class="list-group-item" routerLink="/viewproducts">Wool/Tweed</a>
                        <a class="list-group-item" routerLink="/viewproducts">Cotton/Linen</a>
                      </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 py-4 px-xl-5 px-4">
                      <h6>More Collections</h6>
                      <div class="list-group">
                        <a class="list-group-item" routerLink="/viewproducts">T-Shirts / Jackets / Hoodies</a>
                        <a class="list-group-item" routerLink="/viewproducts">Shoes / Sandals / Loafers</a>
                        <a class="list-group-item" routerLink="/viewproducts">Caps</a>
                        <a class="list-group-item" routerLink="/viewproducts">Wallets</a>
                        <a class="list-group-item" routerLink="/viewproducts">Bracelets & Chains</a>
                        <a class="list-group-item" routerLink="/viewproducts">Sun Glasses</a>
                        <a class="list-group-item" routerLink="/viewproducts">Bags / Belts / Ties</a>
                      </div>
                    </div>

                    <div class="col-lg-1 col-sm-12 py-4 px-xl-5 px-4 text-center" style="cursor: pointer;">
                      <h4><i class="fa-solid fa-circle-arrow-right text-center"></i></h4>
                      <h6>Shop</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-effect " routerLink="/ordertracking" tabindex="-1" aria-disabled="true">Track Order</a>
          </li>
        </ul>

        <form class="d-flex">
            <div class="input-group me-2">
                <input type="text" class="form-control " placeholder="Search Product" aria-label="Search Product" aria-describedby="button-addon2">
                <button class="btn btn-light btn-outline-default" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          <!-- <input class="form-control me-2" type="search" placeholder="Search Product" aria-label="Search">
          <button class="btn btn-light" type="submit"> </button> -->
        </form>

        <span class="navbar-text">
          <span class="dropdown">
            <button class="btn btn-light btn-sm dropdown-toggle __button_icons" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end _profile_dd" aria-labelledby="dropdownMenu2">
              <li><p class="dropdown-item pl-2" style="margin: 0px;padding: 0px;padding-left: 15px;">Welcome! {{loginDetails.fullName}}</p></li>
              <li><hr class="dropdown-divider"></li>
             @if(!isUserLogin){
                <li><button class="dropdown-item" type="button" (click)="openModal()">Login</button></li>
              }
             
              @if(isUserLogin){
                <li><button class="dropdown-item" type="button" routerLink="/address">Manage Address</button></li>
                <li><button class="dropdown-item" type="button" (click)="logOut()">Logout</button></li>
              }
            </ul>
          </span>
            <!-- <button class="btn btn-light btn-sm" (click)="openModal()"><i class="fa-solid fa-user"></i></button> -->
            <button class="btn btn-light btn-sm __button_icons" type="submit"  (click)="openOffcanvas()"><i class="fa-solid fa-heart"></i></button>
            <button class="btn btn-light btn-sm __button_icons" type="submit" routerLink="/viewcart"><i class="fa-solid fa-cart-plus"></i> 
              <span class="badge bg-danger" style="top: -12px;font-size: 8px;">{{cartCount}}</span></button>
          </span>
      </div>
    </div>
  </nav>


<login-form #loginForm></login-form>
<off-canvas-side-bar></off-canvas-side-bar>