<footer class="bg-dark text-light pt-5">
        <div class="container px-5">
            <div class="row">
                <div class="col-6 col-lg-4">
                    <h4 style=" font-family: fantasy; font-weight: 200;
    color: #ef3f3f;">Taylor Trends</h4>
                    <p class="pt-2 text-color text-size">Shop no 2, RCC building, Nrupatunga Rd, Sannatammanahalli, Battarahalli, Bengaluru, Karnataka 560049</p>
                    <p class="mb-2 text-color text-size"> <i class="fa-solid fa-phone"></i> 7345452236 | 8236273470</p>
                </div>

                <div class="col text-color">
                    <h5 class="text-size-head">Support</h5>
                    <ul class="list-unstyled pt-2 text-size">
                        <li class="py-1 __links">Privacy Policy</li>
                        <li class="py-1 __links">Shipping & Handling</li>
                        <li class="py-1 __links">Return / Exchange Policy</li>
                        <li class="py-1 __links">Contact Us</li>
                        <li class="py-1 __links">FAQ</li>
                    </ul>
                </div>

                <div class="col text-color">
                    <h5 class="text-size-head">Quick Links</h5>
                    <ul class="list-unstyled pt-2 text-size">
                        <li class="py-1 __links">Shop All</li>
                        <li class="py-1 __links">New Arrivals</li>
                        <li class="py-1 __links">Cart</li>
                        <li class="py-1 __links">Wishlist</li>
                        <li class="py-1 __links">Track Order</li>
                    </ul>
                </div>
               
                <div class="col-6 col-lg-2 text-lg-end text-color">
                    <h5 class="text-size-head">Social Media Links</h5>
                    <div class="social-media pt-2 text-size">
                        <a href="#" class="text-light fs-5 me-3 __links"> <i class="fa-brands fa-linkedin"></i></a>
                        <a href="#" class="text-light fs-5 me-3 __links"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#" class="text-light fs-5 me-3 __links"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="#" class="text-light fs-5 __links"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-sm-flex justify-content-between py-1 text-color text-size">
                <p>2024 - 2025 ©Taylor Trends. All Rights Reserved. </p>
                <p>
                    <a href="#" class="text-light text-decoration-none pe-4">Terms of use</a>
                    <a href="#" class="text-light text-decoration-none"> Privacy policy</a>
                </p>
            </div>
        </div>
    </footer>