<div class="row my-4">
    <!-- <div class="col-12">
        <h6>Filters</h6>
    </div> -->
    <div class="col-12">
        @for (item of filtersList; track $index) {
        <div class="accordion mb-2" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="{{'panelsStayOpen-headingOne' + item.id}}">
                    <button class="accordion-button shadow-none" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#panelsStayOpen-collapseOne'+ item.id" aria-expanded="true"
                        [attr.aria-controls]="'panelsStayOpen-collapseOne'+item.id"
                        style="font-size: 14px;">
                        {{item.name}}
                    </button>
                </h2>
                <div id="{{'panelsStayOpen-collapseOne'+ item.id}}" class="accordion-collapse collapse show"
                    [attr.aria-labelledby]="'panelsStayOpen-headingOne'+item.id">
                    <div class="accordion-body">
                        @for (filter of item.filters; track $index) {
                        <div class="form-check" >
                            <input class="form-check-input shadow-none" style="cursor: pointer;"  type="checkbox" value="" id="{{ 'flexCheckDefault' + item.name + '_' + filter.name}}">
                            <label class="form-check-label w-100" style="cursor: pointer;" for="{{ 'flexCheckDefault' + item.name + '_' + filter.name}}">
                                {{filter.name}} &nbsp;&nbsp;<span class="text-end" style="color: rgb(95, 94, 94);">({{filter.count}})</span>
                            </label>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>